#app{
    font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

/* Header */
#nav{
  display: flex;
  text-align: center;
  margin-left: 370px;
  justify-content: space-around;
  background-color: grey;
  height: 50px;
  width: 500px;
  border-radius: 10px 10px 10px 10px;
}

/* Footer */
.footer_info{
  margin-bottom: 10px;
}

.footer_bouton{
  margin-left: 10px;
}

/* Boutons */
v-btn {
  color: black ;
  background-color: grey ;
  text-transform: none ;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  margin-left: 10px;
}

v-btn:hover{
  cursor: pointer;
  text-decoration: none;
  background-color: #c44949 ;
  color: black ;
  transition: 0.3s;
}